rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Bloquear el acceso a todos los documentos por defecto
    match /{document=**} {
      allow read, write: if false;
    }

    // Permitir acceso a la colección "users" solo para el usuario autenticado
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Permitir acceso completo (lectura, escritura y eliminación) solo para usuarios autenticados para sus fotos de perfil
    match /profilePhotos/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Permitir acceso a la colección "fiestas" solo para usuarios autenticados
    match /fiestas/{fiestaId} {
      allow read, write: if request.auth != null;
    }

    // Permitir acceso a la colección "piezas" solo para usuarios autenticados
    match /piezas/{piezaId} {
      allow read, write: if request.auth != null;
    }

    // Permitir acceso a la colección "impresoras" solo para usuarios autenticados
    match /impresoras/{impresoraId} {
      allow read, write: if request.auth != null;
    }

    // Permitir acceso a la colección "admin-panel" solo a administradores (usuarios con el campo 'role' como 'ADMIN')
    match /admin-panel/{document=**} {
      allow read, write: if request.auth != null && request.auth.token.role == 'ADMIN';
    }
  }
}