rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Permitir acceso completo (lectura, escritura y eliminación) solo para usuarios autenticados
    match /profilePhotos/{userId} {
      allow read, write, delete: if request.auth != null && request.auth.uid == userId;
    }

    // Permitir acceso a todas las rutas solo para usuarios autenticados
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}

service cloud.firestore {
  match /databases/{database}/documents {

    // Bloquear el acceso a todos los documentos por defecto
    match /{document=**} {
      allow read, write: if false;
    }

    // Permite leer y escribir en la colección "users" solo para el usuario autenticado
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Permite modificar foto para usuarios autenticados
    match /profilePhotos/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Permite leer y escribir en la colección "fiestas" para usuarios autenticados
    match /fiestas/{fiestaId} {
      allow read, write: if request.auth != null;
    }

    // Permite leer y escribir en la colección "piezas" para usuarios autenticados
    match /piezas/{piezaId} {
      allow read, write: if request.auth != null;
    }
    
    // Esta regla permite leer y escribir en la colección "piezas" para usuarios autenticados
    match /piezas/{piezaId} {
      allow read, write: if request.auth != null; // Permitir solo a usuarios autenticados
    }
  }
}