.impresoras-results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 25px;
  padding: 30px;
  justify-items: center;
}

.impresora-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 100%;
  max-width: 400px;
  padding: 15px;
}

.impresora-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.impresora-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
  background-color: #f0f0f0;
}

.user-name {
  font-size: 20px;
  font-weight: bold;
  color: #1b3173;
  margin: 10px 0;
}

.location {
  font-size: 16px;
  margin: 5px 0;
  color: #777;
}

.price {
  font-size: 16px;
  color: #555;
  font-weight: bold;
  margin-top: 10px;
}
