.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  box-shadow: 0 1px 3px -2px #1b3173;
  background-color: white;
  color: #1b3173;
  height: 100%;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoshopper {
  width: 100px;
  height: 80px;
}

.logocart {
  width: 4rem;
  height: 4rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
  color: #1b3173;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.nav-menu li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
  text-decoration: none;
  color: #1b3173;
  transition: color 0.3s;
}

.nav-menu li a:hover {
  color: #a6b5de;
}

.menu-icon {
  display: none;
}

.menu-icon-lines {
  width: 30px;
  height: 3px;
  background-color: #1b3173;
  margin: 9px 0;
}

.menu-icon {
  color: #1b3173;
  background-color: #a6b5de;
  border: none;
  font-size: 50px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 85px;
    left: 0;
    background-color: transparent;
    width: 50%;
    padding: 10px;
    border: 1px solid #1b3173;
    background-color: #a6b5de;
  }

  .nav-menu.show {
    display: flex;
  }

  .menu-icon {
    display: block;
  }

  .nav-menu li a {
    color: #1b3173;
  }
}

.nav-login-cart {
  display: flex;
  gap: 45px;
  align-items: center;
}

.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -55px;
  border-radius: 11px;
  font-size: 14px;
  color: #1b3173;
  background-color: #a6b5de;
}

.nav-search {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 5px 10px;
  width: 300px;
}

.nav-search input {
  flex: 1;
  border: none;
  background: transparent;
  margin-right: 10px;
}

.nav-search input:focus {
  outline: none;
}

.nav-search button img {
  width: 20px;
  height: 20px;
}

.loginName p {
  text-transform: uppercase;
  margin-top: 12px;
}

/* Estilos para el menú desplegable */
.user-dropdown {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.dropdown-trigger {
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  background: transparent;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.dropdown-icon {
  margin-left: 5px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1000;
  display: block; /* Forzar que el menú se muestre */
  opacity: 1; /* Asegurar opacidad */
}

.dropdown-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu ul li {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdown-menu ul li:hover {
  background-color: #f0f0f0;
}
